<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 

 <title>Todo</title>

<style>
.container {
  height: 200px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top:auto;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn{
padding:10px;
font-weight:bold;
font-size:20px;
}

div#d1{
}
</style>


</head>
<body class="w3-pale-red">
<br>
<br>
  <div class="container">
    <h3 style = "font-weight:bold; text-align:center;" class="mb-4">Sri Balaji Chockalingam Engineering College, Arni. </h3>
    <h2 style = "font-weight:bold; text-align:center;" class="mb-4">Department of Information Technology </h2>
    <h1 style = "font-weight:bold; text-align:center;" class="mb-4">Welcome to Fullstack Development Laboratory </h1>
    <h3 style = "font-weight:bold; text-align:center;" class="mb-4">Ex No.:2 - To Do List Web Application</h3>
    

<br>



      
      <div class="w3-row">
        
           <div class=" w3-half w3-card-4 w3-col w3-center w3-border w3-round-xlarge">
           <br>
           <a href="/register" class="btn btn-success">Register</a>            
           <h5>Please Login, If you are registered member...</h5>
           </div>
           <div class="w3-half w3-card-4 w3-col w3-center w3-border w3-round-xlarge">
           <br>
           <a href="/login" class="btn btn-success">Login</a>
           <h5>If you not a member, Please Register...</h5>
           </div>
      
</div>


   
  </div>
</body>
</html>